.quantityButton {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 8px;
  padding: 4px 8px;
  border: 1px solid gray;
  border-radius: 0.3rem;
  width: 120px;
  color: black;
  font-size: 1rem;
  font-family: var(--body-font);

  .buttonMinusPlus {
    padding: 4px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: var(--body-font);
    color: black;
    // justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  .inputField {
    display: flex;
    padding: 4px 8px;
    // justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
  }
}
